# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Reference Panel Data (TOO BIG FOR GITHUB!)
reference_panel/
public/reference_panels/
public/reference_panels_by_chr/
scripts/*.vcf
scripts/*.vcf.gz
*.zip

# Temp/output directories
temp_merge/
output/